{% extends 'share_layout/home_layout.html' %}
{% load static %}

{% block content %}

    {#  滑动图  #}
    {% include 'includes/banner.html' %}

    {#  案例  #}
    {% include 'includes/case.html' %}

    <!--广告一-->
    <center>
        {{ adware_list.0.url }}
        <img src="{{ adware_list.0.image.url }}" alt="" style="width: 1200px;">
    </center>

    {#  产品 #}
    {% include 'includes/product.html' %}

    <!--广告二-->
    <center>
        <img src="{{ adware_list.1.image.url }}" alt="" style="width: 1200px;">
    </center>

    {#  关于和服务 #}
    {% include 'includes/service.html' %}

    {#  口号 #}
    {% include 'includes/slogan.html' %}

    {#  动态  #}
    {% include 'includes/about.html' %}


{% endblock %}
