{% load static %}
<!--底部-->
<div class="footer clearfix">
    <div class="container">
        <div class="footer_left fl">
            <h3>
                青岛前途软件
            </h3>
            <span>主营软件开发，设计，系统集成，数据处理</span>
        </div>
        <div class="footer_right fr">
                <span>
                 责任，诚信，创新，共赢
             </span>
            <span>
                 致力于为更多企业提供信息化建设
             </span>
            <div class="seach_down">
                <form action="http://www.qdqtrj.com/serch.php" method="post" id="form3" name="form3">
                    <input type="text" name="keyword" placeholder="请输入您要搜索的产品名称">
                    <a href="index.html##" onclick="cfm_msg3();return false;"></a>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function cfm_msg3() {
        $("#form3").submit();
    }
</script>