{% load static %}

<div class="scrollsidebar" id="hhService">
    <div class="side_content">
        <div class="side_list">
            <div class="side_title">
{#                <a title="隐藏" class="close_btn"><span>关闭</span></a>#}
            </div>
            <div class="side_center">
                <div class="qqserver">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1052921694&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:1052921694:41" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                    </a>&nbsp;
                </div>
            </div>
            <div class="side_bottom">
            </div>
        </div>
    </div>
</div>



