<div class="case_left_d">
    <div class="list-title">
        <a>联系我们</a>
        <span>contact us</span>
    </div>
    <div class="list_nr">
        <ul>
            <p>
                {{ COMPANY }}
            </p>
            <p>
                电话：{{ PHONE }}（{{ PHONE_USER }}）
            </p>
            <p>
                微信： {{ WECHART }}
            </p>
            <p>
                QQ： {{ QQ }}
            </p>
            <p>
                邮箱： <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
            </p></ul>
    </div>

</div>