{% load static %}
<div class="top clearfix">
    <div class="container">
        <div class="top_left fl">
            <img src="{% static  'images/ld.png' %}">
            <span>欢迎来到青岛前途软件技术有限公司，服务热线：17554153785</span>
        </div>
        <div class="top_right fr">
            <ul class="clearfix">
                <li>
                    <a href="{% url 'blog:index' %}" target="_blank"><img src="{% static  'images/blog-solid.png' %}" style="width: 19px;">博客</a>
                </li>
                <li>
                    <a href="{% url 'about:index' %}"><img src="{% static  'images/lx.png' %}" >联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <header class="header">
        <div class="header-container">
            <div class="top_logo clearfix header-content">
                <div class="container">
                    <div class="logo_left fl">
                        <img src="{% static  'images/logo.png' %}">
                    </div>
                    <div class="logo_right fr">
                        <img src="{% static  'images/rexian.png' %}">
                    </div>
                </div>
            </div>
            <div class="nav clearfix">
                <div class="w1200">
                    <div class="nav1">
                        <ul class="menu1">
                            <li><a href="{% url 'home:index' %}">公司首页</a></li>
                            <li><a href="{% url 'service:service-detail' pk=1 %}">服务项目</a></li>
                            <li><a href="{% url 'product:product-detail' pk=1 %}">公司产品</a></li>
                            <li><a href="{% url 'case:category-detail' category_pk=1 %}">外包案例</a></li>
                            <li><a href="{% url 'message' %}">在线留言</a></li>
                            <li><a href="{% url 'about:index' %}">关于我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="clear"></div>
