{% load static %}
<div class="display_show fr"  id="about_com">
    <div class="common_title clearfix">
        <div class="loft fl">
            <img src="{% static 'images/fz.png' %}"/>关于我们
        </div>
        {#        <div class="more fr">#}
        {#            您当前位置：<a href="{% url 'home:index' %}">网站首页</a> > <a href="#about">关于我们</a>#}
        {#        </div>#}
    </div>
    <div class="about_item">
        <a href="#about"></a>
        <div class="single_top">
            <h3 style="text-indent:0em;">
                1.我们是做什么的？
            </h3>
            <p style="text-indent:2em;">
                青岛前途软件技术有限公司，简称前途软件，成立于2018年，是一家专注于软件开发的企业，拥有Java、JavaScript、NodeJs、Python、Dart、GoLang等各类软件开发工程师8名，定位于系统软件和APP定制开发领域，可承接各类软件定制开发业务及政务信息化、企业信息化建设项目、项目外包业务。
            </p>
            <p style="text-indent:2em;">
                <br/>
            </p>
            <h3 style="text-indent:0em;">
                2.我们的优势？
            </h3>
            <p style="text-indent:2em;">
                身为智能化科技服务公司，擅长货运物流、智慧医疗、教育培训、贸易销售、工业生产等行业的管理软件和APP定制，将先进的软、硬件技术植入系统，提升客户价值。前途软件认为“商业的本质就是提供价值，为客户提供更大价值就是我们的理念”，切实帮助企业提高效益，实现智能互联网时代下的华丽升级。
            </p>
            <p style="text-indent:2em;">
                <br/>
            </p>
            <h3 style="text-indent:0em;">
                3.我们的经验？
            </h3>
            <p style="text-indent:2em;">
                前途软件，从2016年底开始准备起，至2019年5月份已经服务超过20多家客户，涉及行业10多种，开发产品20以上（无水分），是有实力与有经验的软件开发公司。公司项目经理和软件工程师拥有多年软件服务的专业经验和快速洞悉客户需求的能力，有较高的开发效率。前途软件同时搭建了灵活、快速的全流程服务体系，旨在为客户实现最大价值。
            </p></div>
    </div>
</div>
       