{% load static %}
<!-- Headline -->

<div class="display_show fr" id="team">
    <div class="common_title clearfix">
        <div class="loft fl">
            {# <img src="{% static 'images/fz.png' %}"> #} 团队介绍
        </div>
        {#            <div class="more fr">#}
        {#                您当前位置：<a href="index.php.html">网站首页</a> > 联系我们#}
        {#            </div>#}
    </div>
    <div class="about_item">
        {% for tm in about.teammember_set.all %}
            <!-- About Team -->
            <div class="three columns"><img class="team_img" src="{{ tm.picture.url }}" alt=""/></div>
            <div class="five columns">
                <div class="team">
                    <h4>{{ tm.name }}</h4>
                    <span>{{ tm.job }}</span>
                    {{ tm.introduce }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
