{% load static %}
<!--新闻-->
<div class="index_news">
    <div class="container">
        <div class="jp_title">
            <h3> 关于</h3>
            <span>主营软件开发，设计，系统集成，数据处理</span>
            <h2></h2>
        </div>
        <div class="news_show clearfix">
            <div class="show_left fl">
                <img src="{% static 'images/l1.png' %}">
            </div>

            <div class="show_list fr">
                <div class="list_top clearfix">
                    <a href="{% url 'about:index' %}">

                        <div class="list_top_title fr">
                            <h3>
                                祝贺青岛前途软件技术有限公司网站成功上线！
                            </h3>
                            <p>
                                青岛前途软件技术有限公司位于山东青岛，公司主营软件开发，设计，系统集成，数据处理，是一家专注于app开发和软件开发的现代互联网公司，公司秉承责任，诚信，创新，共赢的...</p>
                            <span>more+</span>
                        </div>
                    </a>
                </div>
                <div class="list_down">
                    <ul>
                        <li>
                            <a href="{% url 'about:index' %}">
                                <div class="down_t fl">
                                    <h3> 合作客户</h3>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about:index' %}">
                                <div class="down_t fl">
                                    <h3> 团队介绍</h3>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about:index' %}">
                                <div class="down_t fl">
                                    <h3> 加入我们</h3>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about:index' %}">
                                <div class="down_t fl">
                                    <h3> 联系我们</h3>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>