{% load static %}
<div class="banner">
    <div class="banner_dingwei" id="anchor">
        <!--内页的定位-->
    </div>
    <!-- Swiper -->
    <div class="swiper-container scoll">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 style="background: url({% static  'images/banner1.jpg' %})no-repeat center center;"></div>
            <div class="swiper-slide"
                 style="background: url({% static  'images/banner2.jpg' %})no-repeat center center;"></div>
            <div class="swiper-slide"
                 style="background: url({% static  'images/banner3.jpg' %})no-repeat center center;"></div>
            <div class="swiper-slide"
                 style="background: url({% static  'images/banner4.jpg' %})no-repeat center center;"></div>
        </div>
        <!-- Add Pagination -->
        <div class=" pation swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next next"></div>
        <div class="swiper-button-prev prev"></div>
    </div>


</div>
    