{% load static %}
<!--精品户型-->
<div class="boutique">
    <div class="container">
        <div class="jp_title">
            <h3>公司产品</h3>
            <span>主营软件定制开发，软件外包，APP设计和开发、系统集成，数据处理</span>
            <h2></h2>
        </div>
        <div class="jp_scoll">
            <!-- Swiper -->
            <div class="swiper-container jp_roll">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="jp_show clearfix">
                            <div class="jp_bigimg fl">
                                <a href="{{ first_product.get_absolute_url }}">
                                    <img src="{{ first_product.thumbs.url }}">
                                    <div class="hx_title_big">
                                        <h3>{{ first_product.name }}</h3>
                                        <div class="alhx clearfix">
                                            <div class="hx_left fl">
                                                <span>所属类别：公司产品</span>
                                                <span></span>
                                            </div>
                                            <div class="hx_right fr">
                                                <span>more+</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="jp_smallimg fr">
                                <ul class="clearfix">
                                    {% for p  in other_products %}
                                        <li>
                                            <a href="{{ p.get_absolute_url }}">
                                                <div class="hx_img">
                                                    <img src="{{ p.thumbs.url }}">
                                                    <div class="hx_title">
                                                        <h3>{{ p.name }}</h3>
                                                        <div class="alhx clearfix">
                                                            <div class="hx_left fl">
                                                                <span>所属类别：公司产品</span>
                                                                <span></span>
                                                            </div>
                                                            <div class="hx_right fr">
                                                                <span>more+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination jp_roll_pation"></div>
            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.jp_roll', {
                    loop: true,
                    pagination: {
                        el: '.jp_roll_pation',
                    },
                });
            </script>
        </div>
    </div>
</div>
<div style="clear:both;"></div>