{% load static %}
<!--精品户型-->
<div class="boutique">
    <div class="container">
        <div class="jp_title">
            <h3>公司产品</h3>
            <span>主营软件开发，设计，系统集成，数据处理</span>
            <h2></h2>
        </div>
        <div class="jp_scoll">
            <!-- Swiper -->
            <div class="swiper-container jp_roll">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="jp_show clearfix">
                            <div class="jp_bigimg fl">
                                <a href="show.php%3Fcid=46&amp;id=72.html">
                                    <img src="uploads/image/20190418/1555575652.jpg">
                                    <div class="hx_title_big">
                                        <h3>司法考试系统</h3>
                                        <div class="alhx clearfix">
                                            <div class="hx_left fl">
                                                <span>所属类别：公司产品</span>
                                                <span></span>
                                            </div>
                                            <div class="hx_right fr">
                                                <span>more+</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="jp_smallimg fr">
                                <ul class="clearfix">
                                    <li>
                                        <a href="show.php%3Fcid=46&amp;id=71.html">
                                            <div class="hx_img">
                                                <img src="uploads/image/20190418/1555581238.jpg">
                                                <div class="hx_title">
                                                    <h3>前途外贸开发软件</h3>
                                                    <div class="alhx clearfix">
                                                        <div class="hx_left fl">
                                                            <span>所属类别：公司产品</span>
                                                            <span></span>
                                                        </div>
                                                        <div class="hx_right fr">
                                                            <span>more+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="show.php%3Fcid=46&amp;id=70.html">
                                            <div class="hx_img">
                                                <img src="uploads/image/20190418/1555577328.jpg">
                                                <div class="hx_title">
                                                    <h3>交通巡检平台</h3>
                                                    <div class="alhx clearfix">
                                                        <div class="hx_left fl">
                                                            <span>所属类别：公司产品</span>
                                                            <span></span>
                                                        </div>
                                                        <div class="hx_right fr">
                                                            <span>more+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination jp_roll_pation"></div>
            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.jp_roll', {
                    loop: true,
                    pagination: {
                        el: '.jp_roll_pation',
                    },
                });
            </script>
        </div>
    </div>
</div>
<div style="clear:both;"></div>