{% load static %}
<div class="boutique">
    <div class="container">
        <div class="jp_title">
            <h3>{{ home.product_title }}</h3>
            <span>{{ home.product_slogan }}</span>
            <h2></h2>
        </div>
        <div class="jp_scoll">
            <div class="swiper-container jp_roll">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="jp_show clearfix">
                            <div class="jp_bigimg fl">
                                <a href="{{ first_product.get_absolute_url }}">
                                    <img src="{{ first_product.thumbs.url }}">
                                    <div class="hx_title_big">
                                        <h3>{{ first_product.name }}</h3>
                                        <div class="alhx clearfix">
                                            <div class="hx_left fl">
                                                <span>所属类别：公司产品</span>
                                                <span></span>
                                            </div>
                                            <div class="hx_right fr">
                                                <span>more+</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="jp_smallimg fr">
                                <ul class="clearfix">
                                    {% for p  in other_products %}
                                        <li>
                                            <a href="{{ p.get_absolute_url }}">
                                                <div class="hx_img">
                                                    <img src="{{ p.thumbs.url }}">
                                                    <div class="hx_title">
                                                        <h3>{{ p.name }}</h3>
                                                        <div class="alhx clearfix">
                                                            <div class="hx_left fl">
                                                                <span>所属类别：公司产品</span>
                                                                <span></span>
                                                            </div>
                                                            <div class="hx_right fr">
                                                                <span>more+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="clear:both;"></div>