{% load static %}
<!--公司简介-->
<div class="company clearfix">
    <div class="container">
        <div class="aboyt_left fl">
            <h3>软件即服务</h3>
            <span><img src="{% static  'images/jj_hx.png' %}">SAAS</span>
            <div class="kind_fd">
                <h3 style="text-indent:0em;">
                    服务优势
                </h3>
                <p style="text-indent:2em;">
                    由需求分析师一对一梳理需求，免费设计《解决方案文档》，
                    并在短时间内提供初步报价、预估工期，
                    开发中对质量、进度进行严格监控，开发结束提供所有源码、数据库、文档、各种账号等资料，提供最长1年免费维护...
                </p>
{#                <a href="single.php%3Fcid=1.html">查看详情</a>#}
            </div>
        </div>
        <div class="about_right fr">
            <div class="about_kind clearfix">
                <div class="kind_fenlei fl">
                    <img src="{% static  'images/fenlei.png' %}">
                </div>
                <div class="kind_list fr">
                    <ul class="clearfix">
                        <!--普通产品分类-->
                        {% for s in service_list %}
                            <li><a href="{{ s.get_absolute_url }}">{{ s.name }}服务</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="kind_list_p">
                <div class="swiper-container kind">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide"><img src="{% static  'images/about.png' %}"></div>
                        <div class="swiper-slide"><img src="{% static  'images/about1.png' %}"></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next kind_left"></div>
                    <div class="swiper-button-prev kind_right"></div>
                </div>


                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper('.kind', {
                        loop: true,
                        navigation: {
                            nextEl: '.kind_left',
                            prevEl: '.kind_right',
                        },
                    });
                </script>
            </div>
        </div>
    </div>
</div>