{% load static %}
<div class="company clearfix">
    <div class="container">
        <div class="aboyt_left fl" style="background: url('{{ home.service_img_min.url }}') no-repeat top left;">
            <h3>{{ home.service_slogan}}</h3>
            <span><img src="{% static  'images/jj_hx.png' %}">SAAS</span>
            <div class="kind_fd">
                <h3 style="text-indent:0em;">
                   {{ home.service_title }}
                </h3>
                <p style="text-indent:2em;">
                   {{ home.service_description }}
                </p>
{#                <a href="single.php%3Fcid=1.html">查看详情</a>#}
            </div>
        </div>
        <div class="about_right fr">
            <div class="about_kind clearfix">
                <div class="kind_fenlei fl">
                    <img src="{% static  'images/fenlei.png' %}">
                </div>
                <div class="kind_list fr">
                    <ul class="clearfix">
                        <!--普通产品分类-->
                        {% for s in service_list %}
                            <li><a href="{{ s.get_absolute_url }}">{{ s.name }}服务</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="kind_list_p">
                <div class="swiper-container kind">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide"><img src="{{ home.service_img_max.url }}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>