{% load static %}
<div class="mokuai">
    <div class="container">
        <ul class="clearfix">
            {% for s in superiority_list %}
                <li>
                    <div class="scoll_four clearfix">
                        <div class="fout_photo1 fl" style="background: url('{{ s.image.url }}')no-repeat;"></div>
                        <div class="fout_name fr">
                            <h3>{{ s.title }}</h3>
                            <span>{{ s.description | safe }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>