{% extends 'share_layout/mobile_layout.html' %}

{% block content %}
    <div class="my-nav">
        <ul>
            {% for c in about_list %}
                <li><a href="{{ c.get_mobile_url }}">{{ c.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="about">
        <div class="index_t">
            <span class="fl">
                {{ aboutitem.title }}
            </span>
        </div>
        <div class="content">
            <h2>{{ aboutitem.title }}</h2>


            {{ aboutitem.content|safe }}

            {% include 'mobile/includes/share.html' %}

        </div>
    </div>
    <div class="clear"></div>

{% endblock %}