{% extends 'share_layout/mobile_layout.html' %}

{% block content %}
    <div class="nav">
        <ul>
            <li><a href="{% url 'mobile:case' %}">全部</a></li>
            {% for c in category_list %}
                <li><a href="{{ c.get_mobile_url }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="product">
        <div class="index_t">
            <span class="fl">项目案例</span>
        </div>
        <ul style=" padding-top:8px;">
            {% for s in case_list %}
                <li>
                    <a href="{{ s.get_mobile_url }}">
                        <div class="picbox">
                            <img src="{{ s.thumb.url }}" onload="autoimg()" class="imgauto"/>
                        </div>
                        <p style="color:#fff;" class="pictitle">{{ s.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>


{% endblock %}

{% block compress_js %}
    <script>
        $('.classbtn').toggle(function () {
            $(this).next().show();
        })
    </script>
{% endblock %}