{% extends 'share_layout/blog_layout.html' %}
{% load blog_tags %}
{% load cache %}
{% load static %}
{% block header %}
    <title>{{ article.title }} | {{ BLOG_DESCRIPTION }}</title>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>


    <meta property="og:description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    <meta property="og:url"
          content="{{ article.get_full_url }}"/>
    <meta property="article:published_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:modified_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:author" content="{{ article.author.get_full_url }}"/>
    <meta property="article:section" content="{{ article.category.name }}"/>
    {% for t in article.tags.all %}
        <meta property="article:tag" content="{{ t.name }}"/>
    {% endfor %}
    <meta property="og:site_name" content="{{ BLOG_NAME }}"/>

    <meta name="description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags.all|join:"," }}"/>
    {% else %}
        <meta name="keywords" content="{{ BLOG_KEYWORDS }}"/>
    {% endif %}

{% endblock %}

{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% load_article_detail article False user %}

            {% if article.type == 'a' %}
                <nav class="nav-single">
                    <h3 class="assistive-text">文章导航</h3>
                    {% if next_article %}

                        <span class="nav-previous"><a href="{{ next_article.get_absolute_url }}" rel="prev"><span
                                class="meta-nav">&larr;</span> {{ next_article.title }}</a></span>
                    {% endif %}
                    {% if prev_article %}
                        <span class="nav-next"><a href="{{ prev_article.get_absolute_url }}"
                                                  rel="next">{{ prev_article.title }} <span
                                class="meta-nav">&rarr;</span></a></span>
                    {% endif %}
                </nav><!-- .nav-single -->
            {% endif %}

        </div><!-- #content -->
        {% if article.comment_status == "o" and OPEN_BLOG_COMMENT %}


            {% include 'comments/tags/comment_list.html' %}
            {% if user.is_authenticated %}
                {% include 'comments/tags/post_comment.html' %}
            {% else %}
                <div class="comments-area">
                    <h3 class="comment-meta">您还没有登录，请您<a
                            href="{% url "account:login" %}?next={{ request.get_full_path }}" rel="nofollow">登录</a>后发表评论。
                    </h3>

                    {% load oauth_tags %}
                    {% load_oauth_applications request %}

                </div>
            {% endif %}
        {% endif %}
    </div><!-- #primary -->

{% endblock %}

{% block sidebar %}
    {% with request.user.username|add:'p' as cachekey %}
        {% cache 36000 sidebar cachekey %}
            {% load_sidebar user 'p' %}
        {% endcache %}
    {% endwith %}
{% endblock %}
{% block compress_css %}
    <link rel="stylesheet" href="{% static "mdeditor/css/editormd.min.css" %}"/>
    <style>
        .markdown-body h1 {
            font-size: 1.5em;
        }

        .markdown-body h2 {
            font-size: 1.4em;
        }

        .markdown-body h3 {
            font-size: 1.3em;
        }

        .markdown-body h4 {
            font-size: 1.2em;
        }

        .markdown-body h5 {
            font-size: 1.1em;
        }

        .markdown-body h6 {
            font-size: 1em;
        }

        ol.linenums {
            padding-left: inherit!important;
        }
    </style>
{% endblock %}
{% block compress_js %}
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script type="text/javascript">
        var testEditor;
        $(function () {
            testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true
            });
        });
    </script>
{% endblock %}