{% extends 'share_layout/blog_layout.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}

    <title> 项目案例| {{ BLOG_DESCRIPTION }}</title>

    <meta name="description" content="{{ BLOG_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ BLOG_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ BLOG_NAME }}"/>
    <meta property="og:description" content="{{ BLOG_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ BLOG_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ BLOG_NAME }}"/>

{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">

            <header class="archive-header">
                <a href="{% url 'blog:case' %}">项目案例</a> &nbsp;&rsaquo;  <span class="archive-title">{{ case.name }}</span>
            </header><!-- .archive-header -->

            <div class="entry-content">
                {{ case.content | safe }}
            </div>
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}


{% block sidebar %}
    {% load_sidebar user 'i' %}
{% endblock %}


