{% extends 'share_layout/home_layout.html' %}
{% load static %}

{% block content %}

    {% comment %}    <style type="text/css">
        #nav_menus {
            position: fixed;
            left: 200px;
            width: 260px;
            bottom-: 500px;
        }
    </style>{% endcomment %}
    <!--楼盘展示-->
    <div class="display clearfix">
        <div class="container">
            <div class="account-l fl fixed_nav" id="nav_menus">
                <div class="case_left_t">
                    <div class="list-title">
                        <a>外包案例</a>
                        <span>Cases</span>
                    </div>
                    <ul id="accordion" class="accordion">
                        <!--只有一级产品分类-->
                        <!--<li><a href="gallery.php?cid=34"><div class="link">管理系统系列</div></a></li><li><a href="gallery.php?cid=35"><div class="link">网站建设系列</div></a></li><li><a href="gallery.php?cid=43"><div class="link">APP软件系列</div></a></li><li><a href="gallery.php?cid=44"><div class="link">桌面软件系列</div></a></li><li><a href="gallery.php?cid=45"><div class="link">物联网系列</div></a></li>-->

                        <!--点击一级分类出现二级分类-->
                        {% for s in category_list %}
                            <li><a href="{% url 'case:category-detail' category_pk=s.id %}">
                                <div class="link">{{ s.name }}</div>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="case_left_d">
                    <div class="list-title">
                        <a>联系我们</a>
                        <span>contact us</span>
                    </div>
                    <div class="list_nr">
                        <ul>
                            <p>
                                青岛前途软件技术有限公司
                            </p>
                            <p>
                                电话：17554153785 （尹）
                            </p>
                            <p>
                                微信： felixyin
                            </p>
                            <p>
                                QQ： 1052921694
                            </p>
                            <p>
                                邮箱： <a href="mailto:yinbin@qdqtrj.com">yinbin@qdqtrj.com</a>
                            </p></ul>
                    </div>

                </div>
            </div>


            <div class="display_show fr">
                <div class="common_title clearfix">
                    <div class="loft fl">
                        <img src="{% static 'images/fz.png' %}"> 外包案例
                    </div>
                    <div class="more fr">
                        您当前位置：<a href="index.php.html">网站首页</a> > 外包案例
                    </div>
                </div>
                <div class="product_show clearfix">
                    <ul class="clearfix">

                        {% for case in case_list %}
                            <li>
                                {{ category.id }} - {{ case.id }}
                                {#                                <a href="{% url 'case:case-detail' category_pk=category.id case_pk=case.id %}">#}
                                <a href="{{ case.get_absolute_url }}">
                                    <div class="p_show_img">
                                        <img src="{{ case.thumb.url }}">
                                    </div>
                                    <div class="p_show_title clearfix">
                                        <div class="pt_one fl">
                                            <h3>{{ case.name }}</h3>
                                        </div>
                                        <div class="pt_two fr">
                                            <img src="images/y_hongse.png">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

