{% load static %}
{% load cache %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    {% block header %} {% endblock %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/miniSlider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'QQ/style3/css/lanrenzhijia.css' %}"/>
        {% block compress_css %} {% endblock %}
    {% endcompress %}
</head>
<body>

{# 页头 + 菜单 #}
{% include 'includes/header.html' %}

{% block content %}
{% endblock %}

{#  页脚   #}
{% include 'includes/footer.html' %}

{# 收集用户需求: 微信，QQ#}
{% include 'includes/collect_demand.html' %}

{% compress js %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/miniSlider.js' %}"></script>
    <script src="{% static 'QQ/style3/js/jquery.hhService.js' %}"></script>
    <script src="{% static 'js/website.js' %}"></script>
    {% block compress_js %}
    {% endblock %}
{% endcompress %}

</body>

</html>
