{% load static %}
{% load cache %}
{% load compress %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/xiala.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Swiper JS -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <title>青岛前途软件技术有限公司</title>

    <script>
        window.onload = function () {
            var links1 = $(".menu1").children("li").find("a");
            links1.click(function (e) {
                var ul = $(this).parent().parent("ul");
                var href = "";
                if (ul.attr("class") == "second-nav") {
                    href = ul.prev().attr("href")
                } else {
                    href = $(this).attr("href")
                }
                console.log(href);
                localStorage.setItem("__top_href", href);
                localStorage.setItem("__left_href", "_____")
            });
            var lh1 = localStorage.getItem("__top_href");
            var links11 = $(".menu1").children("li").children("a");
            links11.each(function (i, n) {
                if ($(this).attr("href") == lh1) {
                    $(n).parent("li").css("background", "url(images/nav_bg.png)no-repeat top center")
                }
            });
            var links = $("#accordion").children("li").children("a");
            links.click(function () {
                var href = $(this).attr("href");
                localStorage.setItem("__left_href", href);
                links11.filter(function () {
                    if ($(this).text().indexOf("案例") != -1) {
                        var href = $(this).attr("href");
                        localStorage.setItem("__top_href", href)
                    }
                })
            });
            var lh = localStorage.getItem("__left_href"), _wh = window.location.href,
                wh = _wh.substring(_wh.lastIndexOf("/") + 1, _wh.indexOf("#"));
            links.each(function (i, n) {
                if ($(this).attr("href").indexOf(lh) != -1) {
                    $(n).children("div").css("background", "rgb(207,56,54)")
                }
            })
        };


        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?817b351bcd2d60aa06bf7434fd728b94";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<!-- 公共 CSS 部分开始 -->
<script>
    function addFavorite2() {
        var url = window.location;
        var title = document.title;
        var ua = navigator.userAgent.toLowerCase();
        if (ua.indexOf("360se") > -1) {
            alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
        } else if (ua.indexOf("msie 8") > -1) {
            window.external.AddToFavoritesBar(url, title); //IE8
        } else if (document.all) {
            try {
                window.external.addFavorite(url, title);
            } catch (e) {
                alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
            }
        } else if (window.sidebar) {
            window.sidebar.addPanel(title, url, "");
        } else {
            alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
        }
    }
</script>
<div class="top clearfix">
    <div class="container">
        <div class="top_left fl">
            <img src="images/ld.png">
            <span>欢迎来到青岛前途软件技术有限公司，服务热线：17554153785</span>
        </div>
        <div class="top_right fr">
            <ul class="clearfix">
                <li>
                    <a href="index.html#"><img src="images/sc.png">加入收藏</a>
                </li>
                <li>
                    <a href="index.php.html"><img src="images/sy.png">设为首页</a>
                </li>
                <li>
                    <a href="contact.php.html"><img src="images/lx.png">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <header class="header">
        <div class="header-container">
            <div class="top_logo clearfix header-content">
                <div class="container">
                    <div class="logo_left fl">
                        <img src="images/logo.png">
                    </div>
                    <div class="logo_right fr">
                        <img src="images/rexian.png">
                    </div>
                </div>
            </div>
            <div class="nav clearfix">
                <div class="w1200">
                    <div class="nav1">
                        <ul class="menu1">
                            <li><a href="index.php.html">公司首页</a></li>
                            <li><a href="single.php%3Fcid=1.html">关于我们</a></li>
                            <li><a href="show.php%3Fcid=47&amp;id=121.html#anchor">服务项目</a>
                                <ul class="second-nav" style="display:none;">
                                    <li><a href="show.php%3Fcid=47&amp;id=121.html#anchor">软件定制开发</a></li>
                                    <li><a href="show.php%3Fcid=47&amp;id=120.html#anchor">移动应用开发</a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.php%3Fcid=46.html#anchor">公司产品</a></li>
                            <li><a href="gallery.php%3Fcid=3.html">项目案例</a></li>
                            <li><a href="list.php%3Fcid=6.html">最新动态</a></li>
                            <li><a href="message.php%3Fcid=14.html">在线留言</a></li>
                            <li><a href="contact.php%3Fcid=9.html">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="clear"></div>
<!--头部结束-->
<div class="banner">
    <div class="banner_dingwei" id="anchor">
        <!--内页的定位-->
    </div>
    <!-- Swiper -->
    <div class="swiper-container scoll">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(images/banner1.jpg)no-repeat center center;"></div>
            <div class="swiper-slide" style="background: url(images/banner2.jpg)no-repeat center center;"></div>
            <div class="swiper-slide" style="background: url(images/banner3.jpg)no-repeat center center;"></div>
            <div class="swiper-slide" style="background: url(images/banner4.jpg)no-repeat center center;"></div>
        </div>
        <!-- Add Pagination -->
        <div class=" pation swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next next"></div>
        <div class="swiper-button-prev prev"></div>
    </div>


    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.scoll', {
            loop: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.pation',
                clickable: true,
            },
            navigation: {
                nextEl: '.next',
                prevEl: '.prev',
            },
        });
    </script>
</div>
<!--公共头部结束-->    <!--楼盘展示-->
<div class="display clearfix">
    <div class="container">
        <div class="account-l fl">
            <div class="list-title">
                <a>项目案例</a>
                <span>Project case</span>
            </div>
            <ul id="accordion" class="accordion">
                <!--只有一级产品分类-->
                <!--<li><a href="gallery.php?cid=34"><div class="link">管理系统系列</div></a></li><li><a href="gallery.php?cid=35"><div class="link">网站建设系列</div></a></li><li><a href="gallery.php?cid=43"><div class="link">APP软件系列</div></a></li><li><a href="gallery.php?cid=44"><div class="link">桌面软件系列</div></a></li><li><a href="gallery.php?cid=45"><div class="link">物联网系列</div></a></li>-->

                <!--点击一级分类出现二级分类-->
                <li><a href="gallery.php%3Fcid=34.html">
                    <div class="link">管理系统系列</div>
                </a></li>
                <li><a href="gallery.php%3Fcid=35.html">
                    <div class="link">网站建设系列</div>
                </a></li>
                <li><a href="gallery.php%3Fcid=43.html">
                    <div class="link">APP软件系列</div>
                </a></li>
                <li><a href="gallery.php%3Fcid=44.html">
                    <div class="link">桌面软件系列</div>
                </a></li>
                <li><a href="gallery.php%3Fcid=45.html">
                    <div class="link">物联网系列</div>
                </a></li>
                <!--点击一级分类出现产品图片名称-->
                <!---->
            </ul>
            <div class="list-title" style=" margin-top:10px;">
                <a>联系我们</a>
                <span>contact us</span>
            </div>
            <div class="list_nr">
                <ul>
                    <p>
                        青岛前途软件技术有限公司
                    </p>
                    <p>
                        电话：17554153785 （尹）
                    </p>
                    <p>
                        微信： felixyin
                    </p>
                    <p>
                        QQ： 1052921694
                    </p>
                    <p>
                        邮箱： <a href="mailto:yinbin@qdqtrj.com">yinbin@qdqtrj.com</a>
                    </p></ul>
            </div>
        </div>
        <div class="display_show fr">
            <div class="common_title clearfix">
                <div class="loft fl">
                    <img src="images/fz.png"> 项目案例
                </div>
                <div class="more fr">
                    <a href="gallery.php%3Fcid=3.html">查看更多>></a>
                </div>
            </div>
            <!--普通产品展示的形式-->
            <div class="list clearfix product_show">
                <ul>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=113.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555577591.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>美德威</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=114.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555575652.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>李沧司法考试系统</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=115.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555581290.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>狼人杀游戏上帝端</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=116.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555579623.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>科信地震预警系统</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=117.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555584060.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>兴瑞生物实验室管理系统</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=110.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555579562.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>比奥齐姆小程序官网</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="show.php%3Fcid=3&amp;id=100.html">
                            <div class="p_show_img">
                                <img src="uploads/image/20190418/1555577328.jpg">
                            </div>
                            <div class="p_show_title clearfix">
                                <div class="pt_one fl">
                                    <h3>交通巡检平台</h3>
                                </div>
                                <div class="pt_two fr">
                                    <img src="images/y_hongse.png">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--房产页面case的页面的样式-->
            <!--<div class="display_show_list clearfix">
                <ul>

                </ul>
            </div>-->
        </div>
    </div>
</div>
<!--广告一-->
<div class="advert">
    <img src="images/g1.png">
</div>
<!--精品户型-->
<div class="boutique">
    <div class="container">
        <div class="jp_title">
            <h3>公司产品</h3>
            <span>主营软件开发，设计，系统集成，数据处理</span>
            <h2></h2>
        </div>
        <div class="jp_scoll">
            <!-- Swiper -->
            <div class="swiper-container jp_roll">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="jp_show clearfix">
                            <div class="jp_bigimg fl">
                                <a href="show.php%3Fcid=46&amp;id=72.html">
                                    <img src="uploads/image/20190418/1555575652.jpg">
                                    <div class="hx_title_big">
                                        <h3>司法考试系统</h3>
                                        <div class="alhx clearfix">
                                            <div class="hx_left fl">
                                                <span>所属类别：公司产品</span>
                                                <span></span>
                                            </div>
                                            <div class="hx_right fr">
                                                <span>more+</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="jp_smallimg fr">
                                <ul class="clearfix">
                                    <li>
                                        <a href="show.php%3Fcid=46&amp;id=71.html">
                                            <div class="hx_img">
                                                <img src="uploads/image/20190418/1555581238.jpg">
                                                <div class="hx_title">
                                                    <h3>前途外贸开发软件</h3>
                                                    <div class="alhx clearfix">
                                                        <div class="hx_left fl">
                                                            <span>所属类别：公司产品</span>
                                                            <span></span>
                                                        </div>
                                                        <div class="hx_right fr">
                                                            <span>more+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="show.php%3Fcid=46&amp;id=70.html">
                                            <div class="hx_img">
                                                <img src="uploads/image/20190418/1555577328.jpg">
                                                <div class="hx_title">
                                                    <h3>交通巡检平台</h3>
                                                    <div class="alhx clearfix">
                                                        <div class="hx_left fl">
                                                            <span>所属类别：公司产品</span>
                                                            <span></span>
                                                        </div>
                                                        <div class="hx_right fr">
                                                            <span>more+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination jp_roll_pation"></div>
            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.jp_roll', {
                    loop: true,
                    pagination: {
                        el: '.jp_roll_pation',
                    },
                });
            </script>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<!--广告二-->
<div class="advert2">
    <img src="images/g2.png">
</div>
<!--公司简介-->
<div class="company clearfix">
    <div class="container">
        <div class="aboyt_left fl">
            <h3>关于我们</h3>
            <span><img src="images/jj_hx.png">about us</span>
            <div class="kind_fd">
                <h3 style="text-indent:0em;">
                    青岛前途软件技术有限公司
                </h3>
                <p style="text-indent:2em;">
                    青岛前途软件技术有限公司，简称前途软件，成立于2018年，是一家专注于软件开发的企业，拥有Java、JavaScript、NodeJs、Python、Dart、GoLang等各类软件开发工程师8名，定位于系统软件和APP定制开发领域，可承接各类软件定制开发业务及政务信息化、企业信息化建设项目、项目外包业务。
                </p>                    <a href="single.php%3Fcid=1.html">查看详情</a>
            </div>
        </div>
        <div class="about_right fr">
            <div class="about_kind clearfix">
                <div class="kind_fenlei fl">
                    <img src="images/fenlei.png">
                </div>
                <div class="kind_list fr">
                    <ul class="clearfix">
                        <!--普通产品分类-->
                        <li><a href="gallery.php%3Fcid=34.html">管理系统系列</a></li>
                        <li><a href="gallery.php%3Fcid=35.html">网站建设系列</a></li>
                        <li><a href="gallery.php%3Fcid=43.html">APP软件系列</a></li>
                        <li><a href="gallery.php%3Fcid=44.html">桌面软件系列</a></li>
                        <li><a href="gallery.php%3Fcid=45.html">物联网系列</a></li>
                        <!--跳转到case页面的分类 复杂页面-->
                        <!-- -->
                    </ul>

                </div>
            </div>
            <div class="kind_list_p">
                <div class="swiper-container kind">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide"><img src="images/about.png"></div>
                        <div class="swiper-slide"><img src="images/about1.png"></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next kind_left"></div>
                    <div class="swiper-button-prev kind_right"></div>
                </div>


                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper('.kind', {
                        loop: true,
                        navigation: {
                            nextEl: '.kind_left',
                            prevEl: '.kind_right',
                        },
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!--模块-->
<div class="mokuai">
    <div class="container">
        <ul class="clearfix">
            <li>
                <div class="scoll_four clearfix">
                    <div class="fout_photo1 fl">

                    </div>
                    <div class="fout_name fr">
                        <h3>产品保障</h3>
                        <span>为客户提供全生命周期的产品保障</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="scoll_four clearfix">
                    <div class="fout_photo2 fl">

                    </div>
                    <div class="fout_name fr">
                        <h3>服务保障</h3>
                        <span>为客户提供全面的服务保障</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="scoll_four clearfix">
                    <div class="fout_photo3 fl">

                    </div>
                    <div class="fout_name fr">
                        <h3>质量保障</h3>
                        <span>为客户提供满意的服务</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="scoll_four clearfix">
                    <div class="fout_photo4 fl">

                    </div>
                    <div class="fout_name fr">
                        <h3>技术保障</h3>
                        <span>为客户提供专业的服务</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--新闻-->
<div class="index_news">
    <div class="container">
        <div class="jp_title">
            <h3> 最新动态</h3>
            <span>主营软件开发，设计，系统集成，数据处理</span>
            <h2></h2>
        </div>
        <div class="news_show clearfix">
            <div class="show_left fl">
                <img src="images/l1.png">
            </div>

            <div class="show_list fr">
                <div class="list_top clearfix">
                    <a href="listshow.php%3Fcid=6&amp;id=32.html">
                        <div class="list_top_img fl">
                            <img src="index.html">
                        </div>
                        <div class="list_top_title fr">
                            <h3>
                                祝贺青岛前途软件技术有限公司网站成功上线！
                            </h3>
                            <p>青岛前途软件技术有限公司位于山东青岛，公司主营软件开发，设计，系统集成，数据处理，是一家专注于app开发和软件开发的现代互联网公司，公司秉承责任，诚信，创新，共赢的...</p>
                            <span>more+</span>
                        </div>
                    </a>
                </div>
                <div class="list_down">
                    <ul>
                        <li>
                            <a href="listshow.php%3Fcid=6&amp;id=31.html">
                                <div class="down_t fl">
                                    <h3> 祝贺青岛前途软件技术有限公司网站成功上线！</h3>
                                </div>
                                <div class="down_d fr">
                                    <span> 2019-04-18</span>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="listshow.php%3Fcid=6&amp;id=30.html">
                                <div class="down_t fl">
                                    <h3> 专一钻研技术</h3>
                                </div>
                                <div class="down_d fr">
                                    <span> 2019-04-18</span>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="listshow.php%3Fcid=6&amp;id=29.html">
                                <div class="down_t fl">
                                    <h3> 能解决问题是关键</h3>
                                </div>
                                <div class="down_d fr">
                                    <span> 2019-04-18</span>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="listshow.php%3Fcid=6&amp;id=28.html">
                                <div class="down_t fl">
                                    <h3> 面向客户</h3>
                                </div>
                                <div class="down_d fr">
                                    <span> 2019-04-18</span>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    ﻿-底部-->
    <div class="footer clearfix">
        <div class="container">
            <div class="footer_left fl">
                <h3>
                    青岛前途软件
                </h3>
                <span>主营软件开发，设计，系统集成，数据处理</span>
            </div>
            <div class="footer_right fr">
                <span>
                 责任，诚信，创新，共赢
             </span>
                <span>
                 致力于为更多企业提供信息化建设
             </span>
                <div class="seach_down">
                    <form action="http://www.qdqtrj.com/serch.php" method="post" id="form3" name="form3">
                        <input type="text" name="keyword" placeholder="请输入您要搜索的产品名称">
                        <a href="index.html##" onclick="cfm_msg3();return false;"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function cfm_msg3() {
            $("#form3").submit();
        }
    </script>
    <div class="footer_two">
        <div class="container">
            <div class="footer_intro clearfix">
                <div class="footer_nav fl">
                    <ul>
                        <li><a href="index.php.html">公司首页</a></li>
                        <li><a href="single.php%3Fcid=1.html">关于我们</a></li>
                        <li><a href="show.php%3Fcid=47&amp;id=121.html#anchor">服务项目</a></li>
                        <li><a href="gallery.php%3Fcid=46.html#anchor">公司产品</a></li>
                        <li><a href="gallery.php%3Fcid=3.html">项目案例</a></li>
                        <li><a href="list.php%3Fcid=6.html">最新动态</a></li>
                        <li><a href="message.php%3Fcid=14.html">在线留言</a></li>
                        <li><a href="contact.php%3Fcid=9.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="footer_hotline fr">
                    <a><img src="images/dianhua.png"></a>
                </div>
            </div>
            <div class="center1">
                <div class="float_l foot_logo">
                    <img src="images/foot_logo.png">
                </div>
                <div class="float_l p">
                    <p><span>青岛前途软件技术有限公司</span>
                        <span>电话：17554153785</span>
                    </p>
                    <p><span>网址：http://www.qdqtrj.com</span>
                        <span>地址：<a
                                href="https://map.baidu.com/dir/%E6%88%91%E7%9A%84%E4%BD%8D%E7%BD%AE/%E6%81%92%E5%A4%A7%E5%BE%A1%E6%BE%9C%E5%9B%BD%E9%99%85/@13402518.131360544,4304993.2,13.65z?querytype=bt&bttp=0&c=236&sy=0&en=1$$b12b71a50f63a2bf1329350a$$13406377.798,4312449.73819$$%E6%81%92%E5%A4%A7%E5%BE%A1%E6%BE%9C%E5%9B%BD%E9%99%85$$$$$$&sn=1$$$$13406482,4297514$$%E6%88%91%E7%9A%84%E4%BD%8D%E7%BD%AE$$$$$$&sq=%E6%81%92%E5%A4%A7%E5%BE%A1%E6%BE%9C%E5%9B%BD%E9%99%85&eq=%E6%88%91%E7%9A%84%E4%BD%8D%E7%BD%AE&exptype=dep&exptime=2019-05-05%2010:50&version=5&da_src=shareurl"
                                target="_blank">青岛市城阳区招商LAVIE公社62号楼5层</a></span>
                    </p>
                    <p class="link">
                        <span>友情链接 :</span>
                        <a href="http://www.yinbin.ink" target="_blank">博客</a> | </p>
                </div>
                <div class="float_l qr_code">
                    <div class="float_l">
                        <img src="data/watermark/erweima.jpg">
                        <p>微信二维码</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="beian">
        Copyright 2019 青岛前途软件技术有限公司 未经允许 严禁复制 <a href="ctc_admin.html">后台管理</a><a href="http://www.beian.miit.gov.cn"
                                                                                  target="_blank">鲁ICP备19016982号-1</a>
    </div>


    <script src="js/swiper-3.4.2.jquery.min.js"></script>

    <script>
        var viewSwiper = new Swiper('.view .swiper-container', {
            onSlideChangeStart: function () {
                updateNavPosition()
            }
        })

        $('.view .arrow-left,.preview .arrow-left').on('click', function (e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == 0) {
                viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
                return
            }
            viewSwiper.slidePrev()
        })
        $('.view .arrow-right,.preview .arrow-right').on('click', function (e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
                viewSwiper.slideTo(0, 1000);
                return
            }
            viewSwiper.slideNext()
        })

        var previewSwiper = new Swiper('.preview .swiper-container', {
            //visibilityFullFit: true,
            slidesPerView: 'auto',
            allowTouchMove: false,
            onTap: function () {
                viewSwiper.slideTo(previewSwiper.clickedIndex)
            }
        })

        function updateNavPosition() {
            $('.preview .active-nav').removeClass('active-nav')
            var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass(
                'active-nav')
            if (!activeNav.hasClass('swiper-slide-visible')) {
                if (activeNav.index() > previewSwiper.activeIndex) {
                    var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
                    previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
                } else {
                    previewSwiper.slideTo(activeNav.index())
                }
            }
        }
    </script>

    <!--楼盘展示导航-->
    <script type="text/javascript">
        $(function () {
            $(".account-l ul li").click(function () {
                var thisSpan = $(this);
                $(".account-l ul li ul").prev("a").removeClass("cur");
                $("ul", this).prev("a").addClass("cur");
                $(this).children("ul").slideDown("fast");
                $(this).siblings().children("ul").slideUp("fast");
            })
        });
    </script>
    <!--下拉折叠-->
    <script src="js/xiala.js"></script>
    <script type="text/javascript">
        function SendForm() {
            document.search.submit();
        }
    </script>

    <!--导航下拉-->
    <script type="text/javascript">
        $(function () {
            var _this1 = null;
            $('.menu1>li').hover(function () {
                _this1 = $(this);
                _this1.find('.second-nav').show();
                var _this2 = null;
                _this1.find('.second-nav').find('li').hover(function () {
                    _this2 = $(this);
                    _this2.find('.third-nav').show();
                    _this2.find('.third-nav').hover(function () {
                        $(this).show();
                    }, function () {
                        $(this).hide();
                    });
                }, function () {
                    _this2.find('.third-nav').hide();
                });
            }, function () {
                _this1.find('.second-nav').hide();
            });
        });
    </script>


    <link href="QQ/style3/css/lanrenzhijia.css" rel="stylesheet" type="text/css"/>
    <script src="QQ/style3/js/jquery.hhService.js"></script>
    <script>$(function () {
        $("#hhService").fix({float: 'right', minStatue: false, skin: 'green', durationTime: 1000})
    });</script>
    <div class="scrollsidebar" id="hhService">
        <div class="side_content">
            <div class="side_list">
                <div class="side_title">
                    <a title="隐藏" class="close_btn"><span>关闭</span></a></div>
                <div class="side_center">
                    <div class="qqserver">
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1052921694&site=qq&menu=yes"><img
                                border="0" src="http://wpa.qq.com/pa?p=2:1052921694:41" alt="点击这里给我发消息"
                                title="点击这里给我发消息"></a>&nbsp;
                    </div>
                </div>
                <div class="side_bottom">
                </div>
            </div>
        </div>
    </div>
</div>


<link href="{% static 'QQ/erweima/css/style.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'QQ/erweima/js/lrtk.js' %}"></script>

<div id="erweima" style="z-index:999999">

    <p><img src="data/watermark/erweima.jpg" width="150px"/></p>
    <p><a href="javascript:" onclick="erweima.style.display='none';">关闭</a></p>

</div>

<script>

    //初始位置
    gID("erweima").style.top = 160 + "px";
    gID("erweima").style.right = document.documentElement.clientWidth - gID("erweima").offsetWidth + "px";

    //开始滚动
    ScrollDiv('erweima');
</script>

<!--统计代码-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?cee5b76d43eeef2af550a6fc79e77ce7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script><!--统计代码结束-->
</body>

</html>
