{% load static %}
{% load cache %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ SITE_NAME }}</title>
    {% block header %} {% endblock %}
    {% compress css %}
        {#        <link rel="stylesheet" href="{% static 'css/xiala.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
        <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block compress_css %} {% endblock %}
    {% endcompress %}
</head>
<body>

{# 页头 + 菜单 #}
{% include 'includes/header.html' %}

{% block content %}
{% endblock %}

{#  收集电话  #}
{% include 'includes/collect_phone.html' %}

{#  页脚   #}
{% include 'includes/footer.html' %}

{% compress js %}
    <!-- Initialize Swiper -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Swiper JS -->
    {#    <script src="{% static 'js/swiper.min.js' %}"></script>#}
    <script src="{% static 'js/swiper-3.4.2.jquery.min.js' %}"></script>

    <script>
        var swiper = new Swiper('.scoll', {
            loop: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.pation',
                clickable: true,
            },
            navigation: {
                nextEl: '.next',
                prevEl: '.prev',
            },
        });
    </script>
    <script>
        function addFavorite2() {
            var url = window.location;
            var title = document.title;
            var ua = navigator.userAgent.toLowerCase();
            if (ua.indexOf("360se") > -1) {
                alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
            } else if (ua.indexOf("msie 8") > -1) {
                window.external.AddToFavoritesBar(url, title); //IE8
            } else if (document.all) {
                try {
                    window.external.addFavorite(url, title);
                } catch (e) {
                    alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
                }
            } else if (window.sidebar) {
                window.sidebar.addPanel(title, url, "");
            } else {
                alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
            }
        }
    </script>

    <script>
        window.onload = function () {
            var links1 = $(".menu1").children("li").find("a");
            links1.click(function (e) {
                var ul = $(this).parent().parent("ul");
                var href = "";
                if (ul.attr("class") == "second-nav") {
                    href = ul.prev().attr("href")
                } else {
                    href = $(this).attr("href")
                }
                console.log(href);
                localStorage.setItem("__top_href", href);
                localStorage.setItem("__left_href", "_____")
            });
            var lh1 = localStorage.getItem("__top_href");
            var links11 = $(".menu1").children("li").children("a");
            links11.each(function (i, n) {
                if ($(this).attr("href") == lh1) {
                    $(n).parent("li").css("background", "url({% static 'images/nav_bg.png' %})no-repeat top center")
                }
            });
            var links = $("#accordion").children("li").children("a");
            links.click(function () {
                var href = $(this).attr("href");
                localStorage.setItem("__left_href", href);
                links11.filter(function () {
                    if ($(this).text().indexOf("案例") != -1) {
                        var href = $(this).attr("href");
                        localStorage.setItem("__top_href", href)
                    }
                })
            });
            var lh = localStorage.getItem("__left_href"), _wh = window.location.href,
                wh = _wh.substring(_wh.lastIndexOf("/") + 1, _wh.indexOf("#"));
            links.each(function (i, n) {
                if ($(this).attr("href").indexOf(lh) != -1) {
                    $(n).children("div").css("background", "rgb(207,56,54)")
                }
            })
        };
    </script>
    <script>
        var viewSwiper = new Swiper('.view .swiper-container', {
            onSlideChangeStart: function () {
                updateNavPosition()
            }
        })

        $('.view .arrow-left,.preview .arrow-left').on('click', function (e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == 0) {
                viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
                return
            }
            viewSwiper.slidePrev()
        })
        $('.view .arrow-right,.preview .arrow-right').on('click', function (e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
                viewSwiper.slideTo(0, 1000);
                return
            }
            viewSwiper.slideNext()
        })

        var previewSwiper = new Swiper('.preview .swiper-container', {
            //visibilityFullFit: true,
            slidesPerView: 'auto',
            allowTouchMove: false,
            onTap: function () {
                viewSwiper.slideTo(previewSwiper.clickedIndex)
            }
        })

        function updateNavPosition() {
            $('.preview .active-nav').removeClass('active-nav')
            var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass(
                'active-nav')
            if (!activeNav.hasClass('swiper-slide-visible')) {
                if (activeNav.index() > previewSwiper.activeIndex) {
                    var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
                    previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
                } else {
                    previewSwiper.slideTo(activeNav.index())
                }
            }
        }
    </script>

    <!--楼盘展示导航-->
    <script type="text/javascript">
        $(function () {
            $(".account-l ul li").click(function () {
                var thisSpan = $(this);
                $(".account-l ul li ul").prev("a").removeClass("cur");
                $("ul", this).prev("a").addClass("cur");
                $(this).children("ul").slideDown("fast");
                $(this).siblings().children("ul").slideUp("fast");
            })
        });
    </script>
    <!--下拉折叠-->
    {#    <script src="{% static 'js/xiala.js' %}"></script>#}
    <script type="text/javascript">
        function SendForm() {
            document.search.submit();
        }
    </script>

    <!--导航下拉-->
    <script type="text/javascript">
        $(function () {
            var _this1 = null;
            $('.menu1>li').hover(function () {
                _this1 = $(this);
                _this1.find('.second-nav').show();
                var _this2 = null;
                _this1.find('.second-nav').find('li').hover(function () {
                    _this2 = $(this);
                    _this2.find('.third-nav').show();
                    _this2.find('.third-nav').hover(function () {
                        $(this).show();
                    }, function () {
                        $(this).hide();
                    });
                }, function () {
                    _this2.find('.third-nav').hide();
                });
            }, function () {
                _this1.find('.second-nav').hide();
            });
        });
    </script>

    {% block compress_js %}
    {% endblock %}
{% endcompress %}

{# 收集用户需求: 微信，QQ#}
{#{% include 'includes/collect_demand.html' %}#}

{# 商桥代码 #}
{% comment %}<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?cee5b76d43eeef2af550a6fc79e77ce7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>{% endcomment %}


</body>

</html>
