{% load static %}
{% load cache %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    {% block header %} {% endblock %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    {% compress css %}
        <link href="{% static 'mobile/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_ckeditor5.css' %}"/>
        {% block compress_css %} {% endblock %}
    {% endcompress %}
</head>

<body>
<div class="main">
    <div class="logo">
        {{ SITE_NAME }}
    </div>

    {% block content %}
    {% endblock %}

    <div class="product">
        <div class="index_t"><span class="fl">免费报价</span></div>
        <div style=" padding:10px;">
            <form name="form" id="form" method="post" action="">
                {% csrf_token %}
                <table width="98%" align="center" border="0" cellpadding="0" cellspacing="5">
                    <tr>
                        <td class="msgtitle">姓名：</td>
                        <td><input name="name" type="text" id="nickname" class="msg_input"/></td>
                    </tr>
                    <tr>
                        <td class="msgtitle">电话：</td>
                        <td><input name="phone" type="text" id="phone" class="msg_input" placeholder="必填项"/></td>
                    </tr>
                    <tr>
                        <td class="msgtitle">需求：</td>
                        <td><textarea name="content" class="msg_input" style="width:94%;height:100px;overflow:auto;"
                                      id="content" placeholder="请描述一下您的需求"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="msg_btn_area"><a href="javascript:cfm_msg();">提　交</a></div>
                            <input type="hidden" name="action" id="action" value="add"/></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

    <div class="clear"></div>
    <div class="line"></div>
    <div class="foot">
        {{ COPYRIGHT }}
    </div>
    <div id="bottom">
        <ul>
            <li>
                <a href="{% url 'home:index' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/zhuye.png' %}" width="23" height="23"/></dt>
                        <dd>网站主页</dd>
                    </dl>
                </a>
            </li>

            <li>
                <a href="{% url 'mobile:service' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/service.png' %}" width="23" height="23"/></dt>
                        <dd>服务项目</dd>
                    </dl>
                </a>
            </li>

            <li>
                <a href="{% url 'mobile:product' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/product.png' %}" width="23" height="23"/></dt>
                        <dd>公司产品</dd>
                    </dl>
                </a>
            </li>

            <li>
                {#                <a href="tel:17554153785">#}
                <a href="{% url 'mobile:case' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/case.png' %}" width="23" height="23"/></dt>
                        <dd>外包案例</dd>
                    </dl>
                </a>
            </li>

            <li>
                {#                <a href="sms:17554153785">#}
                <a href="{% url 'mobile:about' pk=1 %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/about.png' %}" width="23" height="23"/></dt>
                        <dd>关于我们</dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
</div>



{% compress js %}
    <script src="{% static 'mobile/js/zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mobile/js/touchslider.dev.js' %}"></script>
    <script type="text/javascript" src="{% static 'mobile/js/my_mobile.js' %}"></script>
    {% block compress_js %}
    {% endblock %}
{% endcompress %}
</body>
</html>
