{% load static %}
{% load cache %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>青岛前途软件技术有限公司</title>
    <meta name="Keywords" content="管理系统,网站建设,APP软件,桌面软件,物联网">
    <meta name="Description" content="青岛前途软件技术有限公司位于山东青岛，公司主营软件开发，设计，系统集成，数据处理，是一家专注于app开发和软件开发的现代互联网公司，公司秉承责任，诚信，创新，共赢的合作理念，致力于为更多企业提供信息化建设，帮助更多企业走向成功。服务电话:17554153785
">
    <meta name="Author" content="">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <meta content="telephone=no" name="format-detection"/>
    <link href="{% static 'mobile/css/style.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="main">
    <div class="logo">
        青岛前途软件技术有限公司
    </div>
    {#    <div class="nav">#}
    {#        <ul>#}
    {#            <li><a href="index.php.html">网站首页</a></li>#}
    {#            <li><a href="single.php%3Fcid=1.html">关于我们</a></li>#}
    {#            <li><a href="gallery.php%3Fcid=3.html">解决方案</a></li>#}
    {#            <li><a href="gallery.php%3Fcid=46.html">公司产品</a></li>#}
    {#            <li><a href="gallery.php%3Fcid=47.html">外包案例</a></li>#}
    {#            <li><a href="list.php%3Fcid=6.html">最新动态</a></li>#}
    {#            <li><a href="message.php.html">在线留言</a></li>#}
    {#            <li><a href="single.php%3Fcid=9.html">联系我们</a></li>#}
    {#        </ul>#}
    {#    </div>#}

    {% block content %}
    {% endblock %}

    <div class="product">
        <div class="index_t"><span class="fl">免费报价</span></div>
        <div style=" padding:10px;">
            <form name="form" id="form" method="post" action="">
                {% csrf_token %}
                <table width="98%" align="center" border="0" cellpadding="0" cellspacing="5">
                    <tr>
                        <td class="msgtitle">姓名：</td>
                        <td><input name="name" type="text" id="nickname" class="msg_input"/></td>
                    </tr>
                    <tr>
                        <td class="msgtitle">电话：</td>
                        <td><input name="phone" type="text" id="phone" class="msg_input" placeholder="必填项"/></td>
                    </tr>
                    <tr>
                        <td class="msgtitle">需求：</td>
                        <td><textarea name="content" class="msg_input" style="width:94%;height:100px;overflow:auto;"
                                      id="content" placeholder="请描述一下您的需求"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="msg_btn_area"><a href="javascript:cfm_msg();">提　交</a></div>
                            <input type="hidden" name="action" id="action" value="add"/></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
    <script type="text/javascript">
        document.getElementById('nickname').focus();

        function cfm_msg() {
            if ($("#phone").val() == "") {
                alert("请您填写联系电话！方便稍后联系您");
                $("#phone").focus();
                return;
            }
            $.post('{% url "message" %}', {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                phone: $('#phone').val(),
                content: $('#content').val(),
                name: $('#nickname').val(),
            }, function (res) {
                var j = JSON.parse(res);
                alert(j.msg);
                $('#phone').val('');
            });
        }

        var msg = '{{ msg }}';
        if (msg) {
            alert(msg)
        }
    </script>
    <div class="clear"></div>
    <div class="line"></div>
    <div class="foot">
        版权所有 青岛前途软件技术有限公司
    </div>
    <div id="bottom">
        <ul>
            <li>
                <a href="{% url 'home:index' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/icon_1.png' %}" width="25" height="25"/></dt>
                        <dd>网站主页</dd>
                    </dl>
                </a>
            </li>

            <li>
                <a href="{% url 'mobile:service' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/icon_2.png' %}" width="25" height="25"/></dt>
                        <dd>解决方案</dd>
                    </dl>
                </a>
            </li>

            <li>
                <a href="{% url 'mobile:product' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/icon_3.png' %}" width="25" height="25"/></dt>
                        <dd>公司产品</dd>
                    </dl>
                </a>
            </li>

            <li>
                {#                <a href="tel:17554153785">#}
                <a href="{% url 'mobile:case' %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/icon_4.png' %}" width="25" height="25"/></dt>
                        <dd>外包案例</dd>
                    </dl>
                </a>
            </li>

            <li>
                {#                <a href="sms:17554153785">#}
                <a href="{% url 'mobile:about' pk=1 %}">
                    <dl>
                        <dt><img src="{% static 'mobile/img/icon_5.png' %}" width="25" height="25"/></dt>
                        <dd>联系我们</dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
</div>



{% compress js %}
    {#    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>#}
    <script src="{% static 'mobile/js/zepto.min.js' %}"></script>
    <script>
        function autoimg() {
            imgwidth = $('.imgauto').width() * 3 / 4;
            $('.imgauto').attr("height", imgwidth);

        }
    </script>
    {#    <script type="text/javascript" src="{% static 'mobile/js/touchScroll.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'mobile/js/touchslider.dev.js' %}"></script>
    <script type="text/javascript">
        var active = 0,
            as = document.getElementById('pagenavi').getElementsByTagName('a');

        for (var i = 0; i < as.length; i++) {
            (function () {
                var j = i;
                as[i].onclick = function () {
                    t2.slide(j);
                    return false;
                }
            })();
        }

        var t2 = new TouchSlider({
            id: 'slider', speed: 600, timeout: 6000, before: function (index) {
                as[active].className = '';
                active = index;
                as[active].className = 'active';
            }
        });


        $('.show_zihao span').click(function () {

            $(this).nextAll().show();


        })

        $('.show_zihao ul li').click(function () {
            console.log(1);
            var index = $(this).index();
            if (index == 0) {
                $('.content').css('font-size', '0.9em');
                $(this).addClass('show_zihao_on').siblings().removeClass('show_zihao_on');
            }
            if (index == 1) {
                $('.content').css('font-size', '1em');
                $(this).addClass('show_zihao_on').siblings().removeClass('show_zihao_on');
            }
            if (index == 2) {
                $('.content').css('font-size', '1.1em');
                $(this).addClass('show_zihao_on').siblings().removeClass('show_zihao_on');
            }

            $('.show_zihao span').nextAll().hide();

        }), $('.show_zihao ul li').eq(1).click()


    </script>
    {% block compress_js %}
    {% endblock %}
{% endcompress %}
</body>
</html>
