{% extends 'share_layout/mobile_layout.html' %}

{% block content %}
    <div class="swipe">
        <ul id="slider">
            {% for c in carousel_list %}
                <li><img src="{{ c.image.url }}"/></li>
            {% endfor %}
        </ul>
        <div id="pagenavi">
            {% for c in carousel_list %}
                {% if forloop.counter == 1 %}
                    <a href="javascript:void(0);" class="active">{{ forloop.counter }}</a>
                {% else %}
                    <a href="javascript:void(0);">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="clear"></div>


    <div class="clear"></div>
    <div class="product">
        <div class="index_t"><span class="fl">外包案例</span><a href="{% url 'mobile:case' %}" class="fr nav_pro">更多&gt;&gt;</a></div>
        <ul style=" padding-top:8px;">
            {% for s in case_list %}
                <li>
                    <a href="{{ s.get_mobile_url }}">
                        <div class="picbox">
                            <img src="{{ s.thumb.url }}" onload="autoimg()" class="imgauto"/>
                        </div>
                        <p style="color:#fff;" class="pictitle">{{ s.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
    <div class="">
        <div class="index_t"><span class="fl">公司产品</span><a href="{% url 'mobile:product' %}" class="fr nav_pro">更多&gt;&gt;</a></div>
        <ul style=" padding-top:8px;">
            {% for s in product_list %}
                <li>
                    <a href="{{ s.get_mobile_url }}">
                        <div class="picbox">
                            <img src="{{ s.thumb.url }}" onload="autoimg()" class="imgauto"/>
                        </div>
                        <p style="color:#fff;" class="pictitle">{{ s.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
   {% comment %} <div class="">
        <div class="index_t"><span class="fl">服务项目</span><a href="{% url 'mobile:service' %}" class="fr nav_pro">更多&gt;&gt;</a></div>

        <ul style=" padding-top:8px;">
            {% for s in service_list %}
                <li>
                    <a href="{{ s.get_mobile_url }}">
                        <div class="picbox">
                            <img src="{{ s.thumb.url }}" onload="autoimg()" class="imgauto"/>
                        </div>
                        <p style="color:#fff;" class="pictitle">{{ s.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>{% endcomment %}
    <div class="">
        <div class="index_t"><span class="fl">服务项目</span><a href="{% url 'mobile:service' %}" class="fr nav_pro">更多&gt;&gt;</a>
        </div>
        <ul class="newsmain">
            {% for s in service_list %}
                <li>
                    <a href="{{ s.get_mobile_url }}">{{ s.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
    <div class="about">

        <div class="index_t"><span class="fl">关于我们</span><a href="{% url 'mobile:about' pk=1 %}" class="fr nav_pro">更多&gt;&gt;</a></div>

        <ul>
            <li style=" line-height:30px; padding:10px;">
                <p style="text-indent:2em; ">
                    {{ home.about_description }}
                </p></li>
        </ul>
    </div>
    <div class="clear"></div>
{% endblock %}